<div class="container mailing-section">
  <div class="row">
    <h3>Suscríbete a nuestro mailing list</h3>
    <div class="col-sm-12">
      <form class="form-inline">
        <input class="form-control mailing-input" placeholder="Email"type="text" />
        <button class="btn btn-outline btn-danger">Enviar</button>
      </form>
    </div>
  </div>
</div>

<div class="footer-section">
  <div class="container">
    <div class="row center-block">
      <div class="col-sm-2 col-xs-4">
        <h2 class="logo-vr3">VR3</h2>
        <ul class="list-unstyled">
          <a href="http://facebook.com/vr3"><li><i class="fa fa-facebook"></i> Facebook</li></a>
          <a href="http://twitter.com/vr3io"><li><i class="fa fa-twitter"></i> Twitter</li></a>
          <a href="http://github.com/ostocino"><li><i class="fa fa-github"></i> Github</li></a>
          <a href="snapchat://add/ostocino"><li><i class="fa fa-snapchat"></i> Snapchat</li></a>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-4">
        <h4>SOPORTE</h4>
        <ul class="list-unstyled">
          <a href="#/problem"><li>Reportar Problema</li></a>
          <a href="#/contact"><li>Contacto</li></a>
          <a href="#/docs"><li>Documentación</li></a>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-4">
      <h4>COMUNIDAD</h4>
      <ul class="list-unstyled">
        <a href="http://mxvr.co"><li>MXVR</li></a>
        <a href="http://capitalvr.mx"><li>CapitalVR</li></a>
        <a ng-click="main.gotoEvents()"><li>Eventos</li></a>
        <a href="#/partners"><li>Partners</li></a>
        <a href="#/blog"><li>Blog</li></a>
        <a href="#/press"><li>Prensa</li></a>
      </ul>
      </div>
      <div class="col-sm-2 col-xs-4">
        <h4>SERVICIOS</h4>
        <ul class="list-unstyled">
          <a href="http://shop.vr3.io"><li>Tienda</li></a>
          <a href="#/vr"><li>Realidad Virtual</li></a>
          <a href="#/ar"><li>Realidad Aumentada</li></a>
          <a href="#/apps"><li>Apps Móviles</li></a>
          <a href="#/webapps"><li>Web Apps</li></a>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-4">
        <h4>ACERCA DE VR3</h4>
        <ul class="list-unstyled">
          <a href="#/project"><li>Proyecto</li></a>
          <a href="#/team"><li>Equipo</li></a>
          <a href="#/jobs"><li>Empleo</li></a>
          <a href="#/privacy"><li>Privacidad</li></a>
          <a href="#/tos"><li>Términos y Condiciones</li></a>
          <a href="#/karma"><li>Karma</li></a>
        </ul>
      </div>
    </div>
  </div>
</div>
