@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

.classic-navbar-brand{
  font-family: 'Montserrat', sans-serif;
  color: #E11B1B;
  font-size: 2em;
  position: relative;
  top: 6px;
  left: 15px;
}


