<nav class="navbar transparent navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <a ng-click="main.gotoContact()" class="navbar-toggle collapsed links-collapsed-transparent" data-toggle="collapse" data-target="#vr3Collapse" aria-expanded="false" id="collapsed-links">CONTACTO</a>

      <a class="brand" href="http://vr3.io">VR3</a>
    </div>

    <div class="collapse navbar-collapse" id="vr3Collapse">
      <ul class="nav navbar-nav links" id="navLinks">
        <li><a ng-click="main.gotoWork()">TRABAJO</a></li>
        <li class="dropdown">
          <a ng-click="main.gotoCompany()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EMPRESA <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Prensa</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Equipo</a></li>
            <li><a href="#">Empleo</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Karma</a></li>

          </ul>
        </li>
        <li><a ng-click="main.gotoContact()">CONTACTO</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
