<div>
  
  <acme-navbar></acme-navbar>
  
  <!-- Landing Section-->
  <!--Slider Template -->  
   <script type="text/ng-template" id="sliderTemplate.html">
    <div class="slider-background" id="{{slide.id_html}}">
        <img class="slider-img" src="{{slide.img}}">
        <h2 class="slider-text">{{slide.labelES}}</h2>
        <!--a class="btn btn-lg btn-primary btn-outline" href="{{slide.url}}">Learn more</a-->
    </div>
  </script>
  
  <slick settings="main.sliderConfig" ng-if="main.sliderConfigLoaded; main.sliderSlidesLoaded" dots="true">
    <div ng-repeat="slide in main.sliderNumber track by $index">
      <div class="slider-container" ng-include="'sliderTemplate.html'">
        <!--Slider Template -->
      </div>
    </div>
  </slick>
  <!--iframe ng-src="{{main.landingIFrame}}" height="800px" width="100%" frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="true"></iframe-->
  <!-- /Landing Section-->

  <!--/Call To Action Section-->
  <div class="container calltoaction-section">
    <div class="row">
      <div class="col-xs-12">
        <h2>Descubre como distribuir tu contenido audiovisual en minutos.</h2>
        <div class="btn btn-calltoaction"><a>Contáctanos</a></div>
      </div>
    </div>
  </div>
  <!--/Call To Action Section-->

  <!--Clients Section-->

  <!--/Clients Section-->

  <!-- Services Section-->
  <div class="container services-section">
    <div class="row">
      <div ng-repeat="service in main.services">
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="services-card" id="{{service.slide_id}}">
            <div class="service-elements">
              <img ng-src="{{service.image}}">
              <h2>{{service.nameES}}</h2>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
  <!--/Services Section-->

  <!--Solutions Section-->
  <div class="container solutions-section">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="panel solutions-panel">
          <div class="panel-body">
            <h2 class="solutions-title">Eventos en Vivo.</h2>
            <fa class="solutions-img" name="wifi" size="4" ng-style="{'color': '#3B9CD6'}"></fa>
            <p class="solutions-text">Transmite tus partidos, conciertos, conferencias, o cualquier evento, en vivo y en directo a través de la web. Monetiza con un Pago-Por-Evento.</p>
            <a href="">Transmite en Vivo</a>
          </div>
        </div>  
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="panel solutions-panel">
          <div class="panel-body">
            <h2 class="solutions-title" >Televisión por Internet.</h2>
            <fa class="solutions-img" name="television" size="4" ng-style="{'color': '#3B9CD6'}"></fa>  
            <p class="solutions-text">Distribuye tu serie, pelicula, cortometraje, o videos institucionales en demanda. Activa un sistema de subscripciones.</p>
            <a href="">Crea tu canal</a>
          </div>
        </div> 
      
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="panel solutions-panel">
          <div class="panel-body">
            <h2 class="solutions-title">Marketing Viral.</h2>
            <fa class="solutions-img" name="bullhorn" size="4" ng-style="{'color': '#3B9CD6'}"></fa>
            <p class="solutions-text">Experimenta con los expertos en las tecnologías más nuevas, como VR y AR y crea un fuerte impacto con tu marca o empresa.</p>
            <a href="">Crea tu experiencia</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <!--/Solutions Section-->

  <!--CaseStudy News Section-->

  <div class="container company-section">
    <div class="row">
      <!--Case Study-->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div></div>
      </div>
      <!--News-->
      <div class="col-xs-12 col-sm-6 col-md-6">
        
      </div>
    </div>
  </div>

  <!--/CaseStudy News Section-->

  <!--Contact Section-->
  <div class="container contact-section">
    <form name="contactForm" novalidate role="form">
      <h3 class="section-title-inverted">Contacto</h3>
      <p>Si tienes algúna duda o sugerencia, o deseas contactarnos para mayores informes, porfavor llena la siguiente forma de contacto, o escríbenos a <a href="mailto:info@vr3.io">info@vr3.io</a></p>
      <div class="form-group">
        <label for="name">Nombre *</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input type="text" name="name" data-ng-model="main.name" class="form-control" required placeholder="Nombre"/>
        </div>
        <span class="label label-danger" data-ng-show="submitted && contactForm.name.$error.required">Required!</span>
      </div>

      <div class="form-group">
        <label for="email">Correo Electronico *</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
          <input type="email" name="email" data-ng-model="main.email" class="form-control" required placeholder="Email"/>  
        </div>
        <span class="label label-danger" data-ng-show="submitted && contactForm.email.$error.required">Required!</span>
        <span class="label label-danger" data-ng-show="submitted && contactForm.$error.email">Invalid email!</span>
      </div>

      <div class="form-group">
        <label for="subjectList">Motivo de contacto</label>
        <select name="subjectList" data-ng-model="subjectList" data-ng-options="id as value for (id, value) in main.subjectList" class="form-control" required placeholder="Motivo">
          <option value=""></option>
        </select>
        <span class="label label-danger" data-ng-show="submitted && contactForm.subjectList.$error.required">Required!</span>
      </div>

      <div class="form-group">
        <label for="comments">Mensaje *</label>
        <textarea name="comments" data-ng-model="main.comments" class="form-control" rows="5" required placeholder="Mensaje"></textarea>
        <span class="label label-danger" data-ng-show="submitted && contactForm.comments.$error.required">Required!</span>
      </div>

      <div class="g-recaptcha" data-sitekey="6Ld6AR8TAAAAACju2U8T7UsQNRq_GadUYw9HOXnk"></div>

      <div id="messages" class="alert alert-success" data-ng-show="main.messages" data-ng-bind="main.messages"></div>
      
      <button data-ng-click="main.submit(contactForm)" class="btn btn-contact pull-right">Enviar</button>
    </form>
  </div>
  <!--/Contact Section-->


  <div>
    <acme-footer></acme-footer>
  </div>  
</div>

<script>
  //THIS WILL CHANGE THE NAVBAR ON SCROLL >= 700px
  $(document).scroll(function() {
    var dHeight = $(this).height()-$(window).height();
    if ($(this).scrollTop() >= 700) {
      $('nav').removeClass('transparent').addClass('filled-background');
      $('#navLinks').removeClass('links').addClass('links-background');
      $('#collapsedLinks').removeClass('links-collapsed-transparent').addClass('links-collapsed-background');
    } else{
      $('nav').addClass('transparent').removeClass('filled-background');
      $('#collapsedLinks').removeClass('links-collapsed-background').addClass('links-collapsed-transparent');
    }
  });

</script>
