  <div class="container-fluid">
    <div>
      <acme-navbar></acme-navbar>
    </div>

    <div id="parallax0" class="landing-section parallaxParent" >
      <video autoplay loop poster="/assets/images/header.jpg" id="landing-video">
        <source src="../assets/videos/intro.webm">
        <source src="../assets/videos/intro.mp4">
      </video>
    <!--div class="container">
        <p>El futuro<acme-malarkey extra-values="['ES INCREIBLE', 'YA LLEGÓ', 'ES REALIDAD VIRTUAL', 'ES HOY', 'LO TIENES EN TUS MANOS']"></acme-malarkey></p>
        <button type="button" class="btn btn-lg btn-danger" ng-click="main.showToastr()">Descubrelo &nbsp;<i class="fa fa-caret-down"></i></button>
      </div-->
    </div>

    <!--div class="row"> NOT GOING TO USE BUT REFER TO IT
      <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <div class="thumbnail">
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <div class="caption">
            <h3>{{ awesomeThing.title }}</h3>
            <p>{{ awesomeThing.description }}</p>
            <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
          </div>
        </div>
      </div>
    </div-->
  </div>

  <div class="calltoaction-section">
    <div class="container">
      <div class="row center-block">
        <div class="col-sm-6">
        <!--img src="../../assets/images/vrhmd.png"-->
        <span class="fa-stack fa-5x">
          <!--i class="fa fa-circle fa-stack-2x icon-color-red"></i-->
          <i class="fa fa-eye fa-stack-1x icon-color-red"></i>
        </span>
          <h3>Lo que hay <strong>dentro</strong> cuenta</h3>
          <p>Sumérgete en mundos increibles, experimenta en primera fila tus conciertos favoritos, sigue a tus jugadores preferidos desde otro punto de vista. Descubre que es la <strong>Realidad Virtual</strong></p>
          <!--p>Todo esto y más desde tu dispositivo móvil, tu visor de VR
          o desde tu Oculus/HTC Vive</p-->
          <br>
          <button class="btn btn-lg btn-danger btn-outline">Descubre más de VR</button>
        </div>
        <div class="col-sm-6">
        <!--img src="../../assets/images/arhmd.png"-->
        <span class="fa-stack fa-5x">
          <!--i class="fa fa-circle fa-stack-2x icon-color-red"></i-->
          <i class="fa fa-magic fa-stack-1x icon-color-red"></i>
        </span>
          <h3><strong>Descubre</strong> increibles mundos</h3>
          <p>Apunta y desbloquea contenidos increibles. Así de fácil puedes disfrutar o interactuar con miles de posibilidades. Imágenes, videos, juegos y mucho más en <strong>Realidad Aumentada</strong></p>
          <br>
          <button class="btn btn-lg btn-danger btn-outline">Aprende más sobre AR</button>
        </div>
      </div>
    </div>
  </div>

    <div id="bg-work">
      <div id="page-work">
        <div class="container work-section">
          <div class="row">
            <h3 class="section-title-inverted">Proyectos y Trabajos</h3>

            <div class="col-md-4" ng-repeat="work in main.works">
              <div class="panel panel-default">
                <div class="panel-body">

                  <div class="media">
                    <div class="media-left">
                      <img class="media-object" src="{{work.image}}">
                    </div>
                    <div class="media-body">
                        <h2>{{work.title}}</h2>
                        <div class="work-text-client">
                          <a href="{{work.url}}" ng-hide="!work.url"><h5>{{work.client}}</h5></a>
                          <h5>{{work.client}}</h5>
                        </div>
                    </div>
                  </div>
                  <hr>
                  <!-- 16:9 aspect ratio -->
                  <div class="embed-responsive embed-responsive-16by9">
                    <ng-youtube-embed url="work.video" width="400px" height="400px" autohide="true" theme="light"></ng-youtube-embed>
                  </div>
                  <h4>Descripción: <small>{{work.description}}</small></h4>
                  <h4>Promo: <small>{{work.promo}}</small></h4>
                  <form class="form-inline">
                    <a href="{{work.ios_url}}" ng-hide="!work.ios_url"><button class="btn btn-lg btn-outline btn-primary"><i class="fa fa-apple"></i> iOS</button></a>
                    <a href="{{work.android_url}}" ng-hide="!work.android_url"><button class="btn btn-lg btn-outline btn-success"><i class="fa fa-android"></i> Android</button></a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div id="bg-events">
    <div id="page-events">
      <div class="container events-section">
        <div class="row-fluid">
          <h3 class="section-title">Agenda de Eventos</h3>
          <div class="col-sm-3 col-xs-6" ng-repeat="event in main.events">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><strong>{{event.name}}</strong></h3>
              </div>
              <div class="panel-body">
                <img src="{{event.image}}" ng-hide="!event.image" href="{{event.url}}">
                <p>{{event.excerpt}}</p>
                <div class="alert alert-info"><p><strong>{{event.startDate}}</strong> - <strong>{{event.endDate}}</strong></p></div>

                <form class="form-inline">
                  <a href="{{event.url}}"><button class="btn btn-outline btn-warning btn-lg"><i class="fa fa-calendar"></i> Evento</button></a>
                  <a href="{{event.tickets_url}}"><button class="btn btn-outline btn-success btn-lg"><i class="fa fa-ticket"></i> Tickets</button></a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="company-section ">
    <div id="bg3">
      <div id="page-company"></div>
    </div>
  </div>


  <div class="contact-section">
    <div id="page-contact" class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title-inverted">Contact</h3>
          <p>Si tienes algúna duda o sugerencia, o deseas contactarnos para mayores informes, porfavor llena la siguiente forma de contacto, o escríbenos a <a href="mailto:info@vr3.io">info@vr3.io</a></p>
          <form role="form" method="post" action="../../php/contact.php">
            <div class="form-group">
              <label>Nombre</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" name="name" class="form-control" placeholder="Nombre">
              </div>
            </div>
            <div class="form-group">
              <label>Correo</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <input type="email" name="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label>Mensaje</label>
              <textarea class="form-control" name="message" rows="5"></textarea>
            </div>
            <div class="g-recaptcha" data-sitekey="6Ld6AR8TAAAAACju2U8T7UsQNRq_GadUYw9HOXnk">
            </div>
            <input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-success btn-lg btn-outline pull-right contact-btn">
          </form>
        </div>
      </div>
    </div>
  </div>

  <acme-footer></acme-footer>

  <script>
    $(document).scroll(function() {
      var dHeight = $(this).height()-$(window).height();
      if ($(this).scrollTop() >= 700) {
        $('nav').removeClass('transparent').addClass('filled-background');
        $('#navLinks').removeClass('links').addClass('links-background');
        $('#collapsedLinks').removeClass('links-collapsed-transparent').addClass('links-collapsed-background');
      } else{
        $('nav').addClass('transparent').removeClass('filled-background');
        $('#collapsedLinks').removeClass('links-collapsed-background').addClass('links-collapsed-transparent');
      }
    });

  </script>


  <script>
    //ScrollMagic Control Panel
    // init controller
    var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});

    // build scenes
    new ScrollMagic.Scene({triggerElement: "#parallax0"})
    .setTween("#parallax0 > div", {y: "100%", ease: Linear.easeNone})
    .addTo(controller);

  </script>
