/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


//Master Font
html,body,h1,h2,h3,h4,h5,p{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
}

//LOGO
.logo-vr3{
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #E72D2C;
  position: relative;
  top: -10px;
}


//Slider Section
.slider-container{
  height: 45vh;
  width: 100%;

  .slider-background{
    position: relative;
    min-height: 100%;
    background-position: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } 
}

.slider-text{
  font-family: 'Montserrat',sans-serif;
  position: absolute;
  color: #FFFFFF;
  left: 3.5%;
  top: 85%;
  
}
.slider-img{
  position: relative;
}

#slide0{
  background-image: url(../assets/images/livestreaming.jpg);
}
#slide1{
  background-image: url(../assets/images/distribution.jpg);
}
#slide2{
  background-image: url(../assets/images/dashboard.jpg);
}
#slide3{
  background-image: url(../assets/images/virtualreality.jpg); 
}
#slide4{
  background-color: #ffffff;
  background-image: url(../assets/images/stars.png);
}


//Slider Section Mobile

@media only screen and (max-device-width: 375px){
  .slider-background{
    min-height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .slider-container{
    height: 50vh;
    width: 100%;

    .slider-background{
      position: relative;
      min-height: 100%;
      background-position: center;
    } 
  }

  .slider-text{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    position: absolute;
    color: white;
    left: 4%;
    top: 70%;    
  }
  .slider-img{
    position: relative;
  }
}


// Clients Slider Section

.clients-container{
  width: 100%;

  .clients-background{
    position: relative;
    min-height: 100%;
    background-color: #474848;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

.clients-img{
    position: relative;
    left: 30%;
    max-width: 40%;
  }

// Clients Slider Section Mobile
@media only screen and (max-device-width: 375px){
  .clients-container{
    width: 100%;

    .clients-background{
      position: relative;
      min-height: 100%;
      background-color: #474848;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
  }

  .clients-img{
      position: relative;
      left: 25%;
      top: 25%;
      max-width: 50%;
    }
}

//Services Section

.services-section{
  color: white;
  margin-top: -10px;
  margin-bottom: 10px;

  .services-card{
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 5px #F0F0F0;
    height: 225px;
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 10px;

    .services-elements{
      margin: auto;
      width: 100%;
    }

    h1,h2,h3{
      font-family: 'Montserrat',sans-serif;
      font-weight: 400;
      color: white;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%,0);
      font-size: 2em;
    }
    img{
      position: absolute;
      top: 13%;
      left: 50%;
      transform: translate(-50%, -10%); 
      max-height: 45%;
    }
  }
}


//Services Section Mobile
@media only screen and (max-width: 768px){
  .services-section{
    color: white;

    .services-card{
      position: relative;
      text-align: center;
      box-shadow: 5px 5px 5px #F0F0F0;
      height: 175px;
      width: 170px;
      margin-top: 5px; 
      margin-bottom: 5px;

      .services-elements{
        margin: auto;
        width: 100%;
      }

      h1,h2,h3{
        font-family: 'Montserrat',sans-serif;
        color: white;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 1.25em;
      }
      img{
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -10%); 
        max-height: 45%;
      }
    }
  }
}

//Services Background
//MONOCHROMATIC

#service0{
  opacity: 0.75;
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  background-color: #5189FF;
}
#service1{
  opacity: 0.75;
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  background-color: #4AA7E8;
}
#service2{
  opacity: 0.75;
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  background-color: #5EE7FF;
}
#service3{
  opacity: 0.75;
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  background-color: #4AE8D5;
}
#service4{
  opacity: 0.75;
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  background-color: #4AE8D5;
}
#service5{
  opacity: 0.75;
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  background-color: #51FF8E;
}


//Call to Action
.calltoaction-section{
  min-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-justify: auto;
  a{
    color: #FFFFFF;
  }
}

.btn-calltoaction{
  margin: 20px;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 5px #F0F0F0;
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  color: #white;
  font-size: 2em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  a{
    color: white;
  }
}
.btn-calltoaction:hover{
  background-image: linear-gradient(to bottom right,#3D73B1, #E73F44);
  box-shadow: 2px 2px 5px #F0F0F0;
  color: #F1F1F1;
  border: none;
  font-size: 2em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  a{
    color: #F1F1F1;
  }
}

//Call To Action Section Mobile
@media only screen and (max-width: 768px){
  .calltoaction-section{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-justify: auto;
    a{
      color: #FFFFFF;
    }
    h2{
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}

//Solutions Section
.solutions-section{
  margin-top: 10px;
  
  .solutions-panel{
    height: 350px;
    box-shadow: 2px 2px 5px #F0F0F0;
    text-align: center;
    
    .solutions-title{
      font-family: 'Montserrat', sans-serif;
      top: 5%;
      font-weight: 700;
      font-size: 1.5em;
    }
    .solutions-img{
      position: absolute;
      transform: translate(-50%,15%);
    }
    .solutions-text{
      text-align: justify;
      position: absolute;
      top: 40%;
      left: 10%;
      right: 10%;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.25em;
      font-weight: 400;
    }
    a{
      position: absolute;
      bottom: 10%;
      transform: translate(-50%,15%);
      color: #3BB3FF;
      font-size: 1.25em;
    }
    a:hover{
      color: #1082FF;
      font-size: 1.25em;
    }
  }
}

//Solutions Section Mobile

//CaseStudy News Section

//CaseStudy News Section Mobile

//Contact Section

.contact-section{

  .btn-contact{
    margin-top: 20px; 
    border: none;
    box-shadow: 2px 2px 5px #F0F0F0;
    background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
    color: #white;
    font-size: 2em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    a{
      color: white;
    }
  }
  .btn-contact:hover{
    margin-top: 20px; 
    background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
    box-shadow: 2px 2px 5px #F0F0F0;
    color: #F1F1F1;
    border: none;
    font-size: 2em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    a{
      color: #F1F1F1;
    }
  }
}
//Contact Section Mobile


//Footer Section

.footer-section{
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  color: #284799;
  a{
    color: white;
  }
  a:hover{
    color: #D8D8D8;
  }
}


//Bootstrap Buttons Enhancement: Outline
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector