/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//LOGO
.logo-vr3{
  font-family: 'Montserrat',sans-serif;
  font-size: 2em;
  color: #E72D2C;
  position: relative;
  top: -10px;
}

//Container Full
.container-full{
  width: 100%;
}

//Slider Section
.slider-container{
  height: 100vh;
  width: 100vw;

  .slider-background{
    margin-top: -20px;
    min-height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #19283f;
    //background-image: url(../assets/images/stars.png);
  }

  .slider-slide{
    padding-top: 70px;
    vertical-align: 100px;

    .slider-element{
      position: relative;
      top: 50%;
    }
    .slider-img{
      position: relative;
      top: 50%;
      left: 45%;
    }

    h1,h2,h3{
    font-family: 'Montserrat',sans-serif;
    font-size: 3em;
    color: #E0E6FF;
    position: relative;
    text-align: center;
    }
  }

  #slide0{
    background-image: url(../assets/images/stars.png);
  }
  #slide1{
    background-image: url(../assets/images/intro-poster.jpg);
  }
  #slide2{
    background-image: url(../assets/images/cardboard.png);
  }
  #slide3{
    background-image: url(../assets/images/vrhmd.png); 
  }
  #slide4{
    background-image: url(../assets/images/stars.png);
  }
}





//Slider Section Mobile

@media only screen and (max-device-width: 375px){
  .slider{
    height: 97.5vh;

    .slider-background{
      margin-top: -20px;
      min-height: 100%;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      background-color: #19283f;
      background-image: url(../assets/images/stars.png);
    }

    .slider-slide{
      position: relative;
      top: 75vh;
    }
    h1,h2,h3{
      padding-right: 5px;
      padding-left: 5px;
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      color: #E0E6FF;
      position: relative;
      text-align: center;
    }
    a{
      display: none;
      /*font-size: 2em;
      position: relative;
      text-align: center;*/
    }
  }
}

.landing-overlay{
  width: 100%;
  height: 200%;
  z-index: -8888;
  background-image: linear-gradient(to bottom right,#002f4b, #dc4225);
  opacity: 0.9;
  display: block;
  position: relative;
  padding-top: 10px;
}
.landing-overlay-content{
  text-align: left;
  position: relative;
  padding-top: 600px;
  width: 80%;
  margin: 0 auto;
  color: #fff;
}


//Call to Action
.calltoaction-section{
  min-width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  h3{
    color: #666666;
    padding: 5px;
  }
  strong{
    color: #333333;
  }
  p{
    font-size: 1.2em;
    color: #999999;
    text-align: justify;
  }
  .icon-color-red{
    color: #CD3E3F;
  }
}

.work-section{
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;

  .work-text-client{
    color: #1082FF;
    a {
      color: #1082FF;
    }
  }
  .work-text-description{
    text-align: justify;
  }
}

.company-section{
  position: relative;
  width: 100%;
  min-height: auto;
  color: white;
  z-index: -8888;
  text-align: left;
  p{
    text-align: justify;
    font-size: 2em;
    vertical-align: center;
  }
}

.company-overlay{
  width: 100%;
  height: 200%;
  z-index: -8888;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  opacity: 0.6;
  display: block;
  position: relative;
  padding-top: 10px;
  text-align: center;
}
.company-overlay-content{
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.events-section{
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 2em;
  p{
    font-size: .6em;
  }
  img{
    max-width: 100%;
  }
}

.footer-section{
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}


.section-title{
  color: white;
  padding-bottom: 10px;
}

.section-title-inverted{
  color: #333333;
  text-align: center;
  padding-bottom: 10px;
}


//Bootstrap Buttons Enhancement: Outline
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
