/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


//Master Font
html,body,h1,h2,h3,h4,h5,p{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
}

//LOGO
.logo-vr3{
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #E72D2C;
  position: relative;
  top: -10px;
}


//Slider Section
.slider-container{
  height: 85vh;
  width: 100%;

  .slider-background{
    position: relative;
    min-height: 100%;
    background-position: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } 
}

.slider-text{
  font-family: 'Montserrat',sans-serif;
  position: absolute;
  color: #FFFFFF;
  left: 3.5%;
  top: 85%;
  
}
.slider-img{
  position: relative;

}

  #slide0{
    background-image: url(../assets/images/livestreaming.jpg);
  }
  #slide1{
    background-image: url(../assets/images/distribution.jpg);
  }
  #slide2{
    background-image: url(../assets/images/dashboard.jpg);
  }
  #slide3{
    background-image: url(../assets/images/virtualreality.jpg); 
  }
  #slide4{
    background-color: #ffffff;
    background-image: url(../assets/images/stars.png);
  }


//Slider Section Mobile

@media only screen and (max-device-width: 375px){
  .slider-background{
    min-height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .slider-container{
    height: 50vh;
    width: 100%;

    .slider-background{
      position: relative;
      min-height: 100%;
      background-position: center;
    } 
  }

  .slider-text{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    position: absolute;
    color: white;
    left: 4%;
    top: 70%;    
  }
  .slider-img{
    position: relative;
  }
}

//Services Section

.services-section{
  color: white;
  margin-top: -10px;
  margin-bottom: 10px;

  .services-card{
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 5px #F0F0F0;
    height: 225px;
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 10px;

    .services-elements{
      margin: auto;
      width: 100%;
    }

    h1,h2,h3{
      font-family: 'Montserrat',sans-serif;
      color: white;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%,0);
      font-size: 2em;
    }
    img{
      position: absolute;
      top: 13%;
      left: 50%;
      transform: translate(-50%, -10%); 
      max-height: 45%;
    }
  }
}


//Services Section Mobile
@media only screen and (max-width: 768px){
  .services-section{
    color: white;

    .services-card{
      position: relative;
      text-align: center;
      box-shadow: 5px 5px 5px #F0F0F0;
      height: 175px;
      width: 160px;
      margin-top: 5px; 
      margin-bottom: 5px;

      .services-elements{
        margin: auto;
        width: 100%;
      }

      h1,h2,h3{
        font-family: 'Montserrat',sans-serif;
        color: white;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 1.25em;
      }
      img{
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -10%); 
        max-height: 45%;
      }
    }
  }
}

//Services Background
//MONOCHROMATIC

#service0{
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  background-color: #5189FF;
}
#service1{
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  background-color: #4AA7E8;
}
#service2{
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  background-color: #5EE7FF;
}
#service3{
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  background-color: #4AE8D5;
}
#service4{
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  background-color: #4AE8D5;
}
#service5{
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  background-color: #51FF8E;
}


//Call to Action
.calltoaction-section{
  min-width: 100%;
  text-align: center;
  text-justify: auto;
  a{
    color: #FFFFFF;
  }
}

.btn-calltoaction{
  margin: 20px;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 5px #F0F0F0;
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  color: #white;
  font-size: 2em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  a{
    color: white;
  }
}
.btn-calltoaction:hover{
  background-image: linear-gradient(to bottom right,#5189FF, #51FFB8);
  box-shadow: 2px 2px 5px #F0F0F0;
  color: #F1F1F1;
  border: none;
  font-size: 2em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  a{
    color: #F1F1F1;
  }
}

//Solutions Section
.solutions-section{
  margin-top: 10px;
  
  .solutions-panel{
    height: 350px;
    box-shadow: 2px 2px 5px #F0F0F0;
    text-align: center;
    
    .solutions-title{
      font-family: 'Montserrat', sans-serif;
      top: 5%;
      font-weight: 700;
      font-size: 1.5em;
    }
    .solutions-img{
      position: absolute;
      transform: translate(-50%,15%);
    }
    .solutions-text{
      text-align: justify;
      position: absolute;
      top: 45%;
      left: 10%;
      right: 10%;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.25em;
      font-weight: 400;
    }
    a{
      position: absolute;
      bottom: 10%;
      transform: translate(-50%,15%);
      color: #3BB3FF;
      font-size: 1.25em;
    }
    a:hover{
      color: #1082FF;
      font-size: 1.25em;
    }
  }
}

//Solutions Section Mobile

.work-section{
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;

  .work-text-client{
    color: #1082FF;
    a {
      color: #1082FF;
    }
  }
  .work-text-description{
    text-align: justify;
  }
}

.company-section{
  position: relative;
  width: 100%;
  min-height: auto;
  color: white;
  z-index: -8888;
  text-align: left;
  p{
    text-align: justify;
    font-size: 2em;
    vertical-align: center;
  }
}

.company-overlay{
  width: 100%;
  height: 200%;
  z-index: -8888;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  opacity: 0.6;
  display: block;
  position: relative;
  padding-top: 10px;
  text-align: center;
}
.company-overlay-content{
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.events-section{
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 2em;
  p{
    font-size: .6em;
  }
  img{
    max-width: 100%;
  }
}

.footer-section{
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}


//Bootstrap Buttons Enhancement: Outline
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
