
.project-image{
  position: relative;
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
}

.project-text{
  color: #333333;
  font-size: 1.25em;
  text-align: justify;
}

.project-form{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.jobs{
  text-align: center;
}

.tos{
  text-align: justify;
}

.privacy{
  text-align: justify;
}

.karma{
  color: white;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: 4em;
  font-style: oblique;
  padding-top: 130px;
  padding-bottom: 130px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.contact-btn{
  margin-bottom: 20px;
}
