<div class="container">
  <classic-navbar></classic-navbar>
</div>

<article onload="return ran_color()">
  <div class="container">
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#/#page-company">Empresa</a></li>
    <li class="active">Karma</li>
  </ol>
    <div class="row">
      <div class="col-md-12 karma" id="karma">
        <p></p>
        <p>NO BULLSHIT</p>
        <p></p>
      </div>
    </div>
  </div>
</article>

<script>
  var safeColors = ['00','33','66','99','cc','ff'];
  var rand = function() {
      return Math.floor(Math.random()*6);
  };
  var randomColor = function() {
      var r = safeColors[rand()];
      var g = safeColors[rand()];
      var b = safeColors[rand()];
      return "#"+r+g+b;
  };
  $(document).ready(function(){
    function updateBg () {
      $('#karma').css('background', randomColor());
    }
    setInterval(updateBg, 100);
  });
</script>

<acme-footer></acme-footer>
