<div class="container">
  <classic-navbar></classic-navbar>
</div>

<article>
  <div class="container">
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#/#page-company">Empresa</a></li>
    <li class="active">Proyecto</li>
  </ol>
    <div class="row">
      <div class="col-md-12">
        <img class="project-image" src="../../assets/images/company/vr3.png">
        <p class="project-text"><strong>VR3</strong> es un startup de manejo y distribución de video por Internet, enfocados en transmisión en vivo, sistemas de monetización y adopción de realidad virtual y aumentada, basado en la Ciudad de México.
        
        <p class="project-text"><strong>VR3</strong> nació como <strong>Vectorthree.</strong> Imaginado en una clase de videojuegos hace más de 4 años, Vectorthree fue formado por <a href="http://fb.com/oscarchavezromero"> Oscar Chavez</a>, <a href="#/team/patrick"> Patrick Moss</a> y <a href="#/team/roberto"> Roberto Ramos</a>,  tres estudiantes del ITESM CCM, bajo el nombre legal de CG Logística SAPI de CV. Así como también fundamos <a href="http://mxvr.co">MXVR</a>, una comunidad abierta a todo el público sobre Realidad Virtual.</p>

        <img class="project-image" src="../../assets/images/company/vr3_2.png">

        <p class="project-text">Clientes nacionales e internacionales, presentaciones,, productos, demos, conferencias, un par de viajes a Silicon Valley, muchas reuniones y miles de cotizaciones han forjado una manera directa, inusual y muy satisfactoria de hacer las cosas. Creemos que nuestros clientes deben tener la total satisfacción de trabajar con nosotros sin comprometer los tiempos, y presupuestos.</p>
        <br>
        <h4>Contacto</h4>
        <p class="project-text">Si tienes algún comentario, sugerencia o deseas aportarnos algo, porfavor contáctanos.</p>
        <form class="form-inline project-form">
          <div class="form-group">
            <a href="#/#contact" class="btn btn-outline btn-primary btn-lg">Contacto</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</article>

<acme-footer></acme-footer>
