<div class="container-fluid">
  <div>
    <acme-navbar></acme-navbar>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">VR3 - Documentation</p>
      <div class="list-group">
        <a href="#" class="list-group-item">Install</a>
        <a href="#" class="list-group-item">Getting Started</a>
        <a href="#" class="list-group-item">Reference</a>
        <a href="#" class="list-group-item">Examples</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
          <h4 class="pull-right">INSTALL</h4>
          <h4><a href="#">First stepst to install the SDK</a>
          </h4>
          <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
          <p>Want to make these reviews work? Check out
              <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
              </strong>over at maxoffsky.com!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
      </div>
    </div>
  </div>
</div>
